/* ==========================================================================
   Kat's styles
   ========================================================================== */
/* IMPORT START: LESS */
/*** VARIABLES: LESS ***/
/* COLOR SCHEME */
/* TYPOGRAPHY */
/*** MIXINS: LESS ***/
/**
 * These are the functions used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */
/* cubic-bezier, animationName, point-01, point-02, point-03, point-04 */
/* loading animation */
/* 1200px / 16px */
/* 992px / 16px */
/* 768px / 16px */
/*** TYPOGRAPHY: LESS ***/
body {
  color: #5a5a5d;
  font-family: 'Cabin', Helvetica, arial, sans-serif;
  font-size: 1em;
}
h1 {
  color: #389baf;
  font-family: 'Sofia', "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", cursive;
  font-size: 3.5em;
  text-align: center;
}
h2 {
  color: #389baf;
  font-family: 'Sofia', "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", cursive;
  font-size: 3em;
}
h3 {
  color: #a1e3bc;
  font-size: 2.4em;
  margin-top: 25px;
  text-align: center;
}
h4 {
  font-size: 1.8em;
  font-weight: 700;
}
h5 {
  font-size: 1.5em;
  font-weight: 700;
}
p,
li {
  font-size: 1.5em;
}
.nav a {
  color: #ffffff;
  font-size: 1.25em;
}
.nav span {
  position: absolute;
  top: 30%;
  left: 95%;
  font-size: 1em;
  color: #46c3dc;
  z-index: 3;
  visibility: hidden;
}
span {
  font-size: .6em;
  padding: 0 12px;
  color: #ffedec;
}
.page-highlight h2,
.page-content h2,
.page-action h2 {
  margin-bottom: 20px;
  color: #389baf;
}
.page-content h2,
.page-action h2 {
  text-align: center;
}
.page-content p,
.page-content li {
  text-align: center;
}
.page-content ul {
  padding-left: 0;
}
.page-content li {
  list-style: none;
}
.page-action h2 {
  color: #ffffff;
}
.page-action p {
  text-align: center;
}
footer {
  color: #389baf;
  text-align: center;
}
footer .coder {
  font-size: 1.15em;
}
/*** FORMS: LESS ***/
button,
input[type="submit"] {
  height: 50px;
  max-width: 300px;
  margin: 25px auto;
  padding: 0 50px;
  background: #a1e3bc;
  border: 3px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 2em;
  transition: all 0.4s ease 0s;
}
button:hover,
input[type="submit"]:hover {
  background: #ffffff;
  border: 3px solid #a1e3bc;
  border-radius: 20px;
  box-shadow: none;
  color: #a1e3bc;
}
.facebook-test {
  border: 1px solid #f4f6f6;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin: 0;
}
img {
  width: 100%;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
button,
input[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#logo-hold {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  border-radius: 150px;
  background: #ccf4dc;
}
#logo-hold h1 {
  padding-top: 20px;
  font-size: 1.75em;
  color: #5a5a5d;
}
header {
  height: 90px;
  /*background-image: url(../../img/sprinkles-test.png);
	background-repeat: repeat;*/
}
.navbar-default {
  background-color: #a1e3bc;
  border: none;
}
.navbar {
  margin-bottom: 0;
}
.nav > li > a {
  padding: 8px 0;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: #acf1ff;
  color: #5a5a5d;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #ccf4dc;
  color: #5a5a5d;
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
/* HAMBURGER */
.navbar-default .navbar-toggle {
  border: none;
  width: 44px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ccf4dc;
  border-radius: 4px;
  box-shadow: none;
}
.navbar-default .navbar-toggle {
  box-shadow: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f4f6f6;
  border: none;
}
.page-highlight,
.page-content {
  padding: 25px 10px 50px;
}
.page-highlight img,
.page-content img {
  max-width: 300px;
}
.page-highlight img,
.page-content img {
  display: block;
  margin: auto;
}
.page-highlight {
  background: #ccf4dc;
}
.page-highlight img {
  margin-top: 25px;
  max-width: 500px;
}
.deliver img {
  box-shadow: none;
  width: 200px;
  margin: 25px auto;
}
.page-action {
  background: #46c3dc;
  padding: 0 20px 50px;
}
.page-action img {
  max-width: 300px;
}
.post-preview.col-sm-6 {
  padding-left: 0;
  padding-right: 0;
}
.post-preview {
  background: #ffffff;
  margin-top: 50px;
  padding: 20px 20px 0;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.post-image img {
  display: block;
  margin: auto;
  width: 50%;
  box-shadow: none;
}
.page-content.map-section {
  padding: 20px 0;
}
.map-article {
  background-image: url(../../img/map-test.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.map-text {
  position: relative;
  top: 20px;
  left: 40px;
  width: 75%;
  padding: 40px 10px;
  background: rgba(255, 255, 255, 0.5);
}
.img-stack-2x2 img {
  width: 40%;
  margin: 5%;
  float: left;
}
footer {
  background-color: #ccf4dc;
  padding: 50px 0;
}
footer .icon-circle {
  box-shadow: none;
  width: 50px;
  margin: 0 10px 25px;
}
/* IMPORT END | MEDIA QUERIES: LESS */
/*** SMALL DEVICES: LESS ***/
/* Small devices (phones and tablets, 768px and up) */
@media (min-width: 768px) {
  #logo-hold {
    width: 110px;
    height: 110px;
    border-radius: 150px;
  }
  #logo-hold h1 {
    padding-top: 20px;
    font-size: 3em;
  }
  body {
    font-size: 105%;
  }
  h3 {
    margin-top: 0;
    text-align: left;
  }
  .nav a {
    font-size: 1.15em;
  }
  .nav > li > a {
    padding-top: 10px;
  }
  .nav span {
    visibility: visible;
  }
  header {
    height: 140px;
  }
  .page-highlight,
  .page-content {
    padding: 20px 35px 75px;
  }
  .page-content h2,
  .page-action h2 {
    margin-bottom: 40px;
  }
  .page-content p,
  .page-content li {
    text-align: left;
  }
  .page-content ul {
    padding-left: 25px;
  }
  .page-content .deliver {
    margin: 15px auto;
  }
  .page-action {
    padding: 20px 50px 75px;
  }
  .page-action h2 {
    margin-bottom: 15px;
  }
  .post-preview.col-lg-6,
  .post-preview .col-sm-4 {
    padding-top: 0;
    padding-left: 0;
  }
  .post-image img {
    display: inline;
    width: 100%;
  }
  .post-details {
    margin-top: 15px;
  }
  .post-details p {
    text-align: left;
  }
  .post-details button,
  .post-details input[type="submit"] {
    float: right;
    margin-bottom: 10px;
  }
  .social h3 {
    text-align: center;
  }
  .social .facebook-test {
    margin-top: 25px;
  }
}
/*** MEDIUM DEVICES: LESS ***/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #logo-hold {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
  #logo-hold h1 {
    padding-top: 25px;
    font-size: 4em;
  }
  #navbar > ul {
    padding: 0 5%;
  }
  header {
    height: 175px;
  }
  .page-highlight,
  .page-content {
    padding: 40px 45px 80px;
  }
  .page-content h2,
  .page-action h2 {
    margin-bottom: 60px;
  }
  .page-action {
    padding-bottom: 90px;
  }
  .map-section {
    margin-bottom: 25px;
  }
  .map-section h2 {
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .social {
    margin-bottom: 25px;
  }
}
/*** LARGE DEVICES: LESS ***/
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #logo-hold {
    width: 200px;
    height: 200px;
    border-radius: 150px;
  }
  #logo-hold h1 {
    padding-top: 40px;
    font-size: 5em;
  }
  header {
    height: 230px;
  }
  .post-preview.col-lg-6 {
    width: 45%;
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 0;
  }
}
