/*** LARGE DEVICES: LESS ***/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#logo-hold {
		width: 200px;
		height: 200px;
		border-radius: 150px;
		h1 {
	    padding-top: 40px;
	    font-size: 5em;
	  	}
	}

	header {
		height: 230px;
	}

	.post-preview.col-lg-6 {
  		width: 45%;
  		margin-top: 20px;
  		margin-left: 2.5%;
  		margin-right: 2.5%;
  		padding-top: 0;
  	}

}