/*** TYPOGRAPHY: LESS ***/

body {
	color: @chalkboard;
	font-family: @font-body;
	font-size: 1em;
}

h1 {
	color: darken(@heyblue, 15%);
	font-family: @font-header;
	font-size: 3.5em;
	text-align: center;
}

h2 {
	color: darken(@heyblue, 15%);
	font-family: @font-header;
	font-size: 3em;
}

h3 {
	color: darken(@sweetmint, 10%);
	font-size: 2.4em;
	margin-top: 25px;
	text-align: center;
}

h4 {
	font-size: 1.8em;
	font-weight: 700;
}

h5 {
	font-size: 1.5em;
	font-weight: 700;
}

li:before  {
	//content: "\2726";
	content: "\25cf";
	color: @gopinkdark;
	padding-right: 10px;
}

p, li {
	font-size: 1.5em;
}

a, a:visited, a:focus {
	color: @heyblue;
}

a:hover {
	text-decoration: underline;
	color: lighten(@heyblue, 10%);
}

hr {
	//margin: 30px auto 25px;
	//width: 80%;
    //height: 1px;
    //background: @gopinkdark;
    //background: -webkit-gradient(linear, 0 0, 100% 0, from(@heybluelight), to(@sweetmintlight), color-stop(50%, @heybluelight));
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, @heybluelight, @heybluedark, @heybluelight);
	background-image: -moz-linear-gradient(left, @heybluelight, @heybluedark, @heybluelight);
	background-image: -ms-linear-gradient(left, @heybluelight, @heybluedark, @heybluelight);
	background-image: -o-linear-gradient(left, @heybluelight, @heybluedark, @heybluelight); 
}

.icon-circle {
	box-shadow: none;
	width: 50px;
	margin: 0 10px 25px;
 }

 .icons-social {
 	visibility: hidden;
 	padding-right: 25px;
 	.icon-circle {
 		&:extend(.icon-circle);
 		float: right;
		width: 40px;
 		height: 40px;
 		margin: 20px 5px;
 		background: @white;
 		border-radius: 40px;
 	}
 }

figcaption {
	color: darken(@sweetmint, 5%);
	font-size: 1.5em;
	margin-top: 15px;
}

.nav a {
    color: @white;
    font-size: 1.25em;
}

nav li:before {
	content: none;
}

nav li span {
	position: absolute;
	top: 30%;
	left: 0;
	font-size: 1em;
	color: @heyblue;
	visibility: hidden;
}

/*nav li:before {
	content: '\2726';
}

nav li:first-child:before {
	content: none;
}*/

.page-content .intro p {
	width: 80%;
	margin: 0 auto 25px;
	text-align: center;
}

.deliver p {
	display: inline-block;
	padding-right: 10px;
	color: @heybluedark;
	font-family: @font-header;
	font-size: 2.4em;
}

.dots {
	font-size: .6em;
	padding: 0 6px;
	color: @gopinkdark;
}

/*.dots:before {
	content: "\25cf";
}*/

.page-highlight {
  h2 {
  	margin-bottom: 20px;
    color: darken(@heyblue, 15%);
  }
  .dots {
  	color: @heyblue;
  }
}

.page-content {
	h2 {
		&:extend(.page-highlight h2);
		text-align: center;
		margin-top: 15px;
	}
	p, li {
		text-align: center;
	}
	ul {
		padding-left: 0;
	}
	li {
		list-style: none;
	}
}

.page-action {
	color: @white;
	h2 {
		&:extend(.page-content h2);
		margin-top: 40px;
		margin-bottom: 0px;
		color: @white;
	}
	p { 
		text-align: center;
		margin-bottom: 0;
	}
}

.promote {
	p {
		color: @chalkboard;
	}
}

.menu {
	h3 {
		font-size: 1.5em;
		color: darken(@sweetmint, 10%);
	}
}

.text-details p, .text-details li {
	text-align: left;
}

footer {
	color: darken(@heyblue, 15%);
	text-align: center;
	.coder {
		font-size: 1.15em;
	}
}